/* Colours and fonts*/
body{
	background: rgba(63, 191, 112, 0.1);
	color: #575F7D;
	font-family: 'Lora', serif;
	font-size: 16px;
}

h1, h2, h3{
	font-family: 'Poppins', sans-serif;
}

h1{
	color: rgba(115, 20, 240, 0.58);
	font-size: 36px;
	font-weight: 900;
	font-weight: bold;
}

h2{
	color: rgba(240, 31, 20, 0.91);
	font-size: 22px;
	font-weight: 500;
}

a{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-size: 16px;
}

a:hover{
	color: black;
}


/* Custom design with class (99% of my design)*/

.container{
	width: 700px;
	margin: 40px auto;
}

@media(max-width: 760px){
	.container{
		width: 600px;
	}
}

@media(max-width: 500px){
	.container{
		width: 400px;
	}
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rbga(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color: rgba(94, 199, 232, 0.58);
	color: white ;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover{
	background-color: black;
	color: white ;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover{
	color: black;
}

/* Design adjustments using id (1% design remaining)*/
#introduction p{
	margin-bottom: 40px;
}